nba_dbt:
  outputs:
    dev:
      dbname: <your-database-name>
      host: localhost
      pass: <your-password>
      port: <your-port>
      schema: <your-schema>
      threads: 1
      type: postgres
      user: <your-user>
  target: dev
